$shadowIn : 0 -1px 0 rgb(229, 229, 229), 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
$shadowOut : 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);

.my-list-container {
    margin: auto;
    overflow: visible;
    max-width: $container-max-width; 
}

#datagrid > md-list.my-list {
    padding: 8px 0px 8px 0px;
    
    
    &>md-item {
        
        &>div>md-item-content:focus::after, 
        &>div.content-editable>md-item-content::after {
            background: $kraken-blue;
            bottom: 0;
            content: '';
            display: block;
            left: 0;
            position: absolute;
            top: 0;
            width: 2px;
        } 

        div>md-item-content{
            
            display: block;
            @media (max-width: 600px) {
                height: 240px;
            }
            @media (min-width: 601px) and (max-width: 1200px) {
                height: 160px;
            }
            @media (min-width: 1201px) {
                height: 80px;
            }
            
            background-color: white;
            box-shadow: $shadowIn;
            
            &.my-row {
                cursor: pointer;
            }
            &.my-edit-row {
                
            }
               
            & > div {
                -webkit-transition: all 400ms ease-out 50ms; 
                transition: all 400ms ease-out 50ms; 
                position: absolute;
                
                .flex-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                }
                .flex-col {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                }
                .md-tile-left {
                    padding: 16px;
                }
                h2, h3, h4 {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                i.mdi {
                    width: 48px;
                    height: 48px;
                    color: $kraken-grey;
                    // icon http://www.google.com/design/spec/layout/metrics-keylines.html#metrics-keylines-touch-target-size
                    // padding: 12px;
                    // font-size: 24px;

                    // img
                    padding: 4px;
                    font-size: 40px;
                }
                .md-tile-content {
                    display: block;
                }   
                .count {
                    color: $kraken-blue-green;
                }
                
                &.customer {
                    color: $kraken-blue-green;
                    .md-tile-content{
                        padding: 7px;
                    }
                    .md-tile-left {
                        padding: 0;
                    }
                    h3{
                        margin: 0;
                        font-weight: 600;
                    }
                }
                
                &.progress {
                    display: none;
                    .md-tile-content{
                        width: 1000px;
                    }
                }
                @media (max-width: 600px) {
                    &.customer {
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 25%;
                        padding: 80px 0;
                    }
                    &.site{
                        top: 0;
                        left: 25%;
                        height: calc(100%/3);
                        width: 75%;
                    } 
                    &.domain {
                        top: calc(100%/3);
                        left: 25%;
                        height: calc(100%/3);
                        width: 75%;
                    } 
                    &.mail {
                        top: calc(200%/3);
                        left: 25%;
                        height: calc(100%/3);
                        width: 75%;
                    }

                }
                @media (min-width: 601px) and (max-width: 1200px) {
                    &.customer {
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 20%;
                        padding: 40px 0;
                    }
                    &.site{
                        top: 0;
                        left: 20%;
                        height: 50%;
                        width: 80%;
                    } 
                    &.domain {
                        top: 50%;
                        left: 20%;
                        height: 50%;
                        width: 40%;
                    } 
                    &.mail {
                        top: 50%;
                        left: 60%;
                        height: 50%;
                        width: 40%;
                    }
                }
                @media (min-width: 1201px) {
                    &.customer {
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: calc(100%/7);
                    }
                    &.site{
                        top: 0;
                        left: calc(100%/7);
                        height: 100%;
                        width: calc(200%/7);
                    } 
                    &.domain {
                        top: 0;
                        left: calc(300%/7);
                        height: 100%;
                        width: calc(200%/7);
                    } 
                    &.mail {
                        top: 0;
                        left: calc(500%/7);
                        height: 100%;
                        width: calc(200%/7);
                    }
                }
            
            }
        }
    
        div.content-editable>md-item-content {
            @media (max-width: 600px) {
                height: 160px;    
            }
            @media (min-width: 601px) and (max-width: 1200px) {
                height: 80px;
            }
            @media (min-width: 1201px) {
                height: 80px;
            }
            & > div {
                
                &.domain, 
                &.mail{ 
                    display: none !important;
                }
                &.progress {
                    display: flex !important;
                }
                
                @media (max-width: 600px) {
                    &.customer {
                        display: none !important;
                    }
                    &.site{
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 50%;
                    } 
                    &.progress {
                        top: 50%;
                        left: 0;
                        height: 100%;
                        width: 100%;
                    }
                }
                @media (min-width: 601px) and (max-width: 1200px) {
                    &.customer {
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 20%;
                        padding: 0;
                    }
                    &.site{
                        top: 0;
                        left: 20%;
                        height: 100%;
                        width: 30%;
                    } 
                    &.progress {
                        top: 0;
                        left: 50%;
                        height: 100%;
                        width: 50%;
                    }
                }
                @media (min-width: 1201px) {
                    &.progress {
                        top: 0;
                        left: calc(300% / 7);
                        height: 100%;
                        width: calc(400% / 7);
                    }
                }
                
            }
        }

        .content-editable.ng-hide-add.ng-hide-add-active {
            -webkit-transition: all linear 0s;
            transition: all linear 0s;
        }
        .content-editable.ng-hide-remove.ng-hide-remove-active {
            -webkit-transition: all 200ms ease-out 25ms; 
            transition: all 200ms ease-out 25ms; 
            
        }

        .content-editable {
            margin-top: 50px;
            margin-bottom: 50px;
            margin-left: -20px;        
            margin-right: -20px;

            position: relative;
            box-shadow: $shadowOut;
            z-index: 5;
            overflow: hidden;
        }
        .content-editable.ng-hide {
            margin:0;
            z-index: 0;
            box-shadow: $shadowIn;
        }
    }

}

