$shadowIn : 0 -1px 0 rgb(229, 229, 229), 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
$shadowOut : 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);

.my-list-container {
    margin: auto;
    overflow: visible;
    max-width: $container-max-width; 
}

#datagrid > md-list.my-list {
    padding: 8px 0px 8px 0px;
    
    
    &>md-item {
        
        &>div>md-item-content:focus::after, 
        &>div.content-editable>md-item-content::after {
            background: rgb(63, 81, 181);
            bottom: 0;
            content: '';
            display: block;
            left: 0;
            position: absolute;
            top: 0;
            width: 2px;
        } 

        md-item-content{
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            justify-content: flex-start;
            
            background-color: white;
            box-shadow: $shadowIn;
            
            @media (max-width: 960px) {

            }
            @media (min-width: 961px) and (max-width: 1200px) {

            }
            @media (min-width: 1201px) {

            }
            &.my-row {
                cursor: pointer;
            }
            &.my-edit-row {
                
            }
               
            & > div {
               -webkit-flex: 2;
                -ms-flex: 2;
                flex: 2; 
            
                .flex-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                }
                .flex-col {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                }
                .md-tile-left {
                    padding: 16px;
                }
                h2, h3, h4 {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                i.mdi {
                    width: 48px;
                    height: 48px;
                    color: black;
                    // icon http://www.google.com/design/spec/layout/metrics-keylines.html#metrics-keylines-touch-target-size
                    // padding: 12px;
                    // font-size: 24px;

                    // img
                    padding: 4px;
                    font-size: 40px;
                }
                .md-tile-content {
                    display: block;
                }    
                &.customer {
                    -webkit-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    color: rgb(1, 162, 166);
                    .md-tile-content{
                        padding: 7px;
                    }
                    .md-tile-left {
                        padding: 0;
                    }
                    h3{
                        margin: 0;
                        font-weight: 600;
                    }
                }
                &.site, 
                &.domaine, 
                &.mail {

                }
                &.progress {
                    -webkit-flex: 4;
                    -ms-flex: 4;
                    flex: 4;
                    display: none;
                    width: 100%;
                    .md-tile-content{
                        height: 80px;
                        width: 1000px;
                    }
                }
            }
        }
    }
        
    .content-editable {
        .domaine, 
        .mail{ 
            display: none !important;
        }
        .progress {
            display: flex !important;
        }
    }

    .content-editable.ng-hide-add.ng-hide-add-active {
        -webkit-transition: all linear 0s;
        transition: all linear 0s;
    }
    .content-editable.ng-hide-remove.ng-hide-remove-active {
        -webkit-transition: all linear .2s;
        transition: all linear .2s;
    }

    .content-editable {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: -20px;        
        margin-right: -20px;
        
        position: relative;
        box-shadow: $shadowOut;
        z-index: 5;
        overflow: hidden;
    }
    .content-editable.ng-hide {
        margin:0;
        z-index: 0;
        box-shadow: $shadowIn;
    }

}

