/* Globales */

$container-max-width: 1200px;
$kraken-blue-green: rgb(1, 162, 166);
$kraken-blue: rgb(63, 81, 181);

/* MaterialDesignIcons.com */

$mdi-font-path:        "../assets/fonts" !default;
$mdi-font-size-base:   24px !default;
$mdi-css-prefix:       mdi !default;
$mdi-version:          "0.9.72" !default;