.my-list-container {
    margin: 50px;
    overflow: visible;
}

md-list.my-list {
    
    padding: 8px 0px 8px 0px;
    
    md-item {
        
        md-item-content {
            
            
            .md-tile-content {
                padding: 10px;
                -webkit-flex: 2;
                -ms-flex: 2;
                flex: 2;
                padding: 16px;
                text-overflow: ellipsis; 
                height: 96px;
                border-right: 1px solid rgb(220,220,220);
                border-bottom : 1px solid rgb(220,220,220);
                
                &.customer_number {
                    -webkit-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    text-align: center;
                }
                .infra-customer_number {
                    h1 {
                        margin: 0;
                        color: black;
                        i.mdi {
                            font-size: 1.4em;
                        }
                    }
                    color: rgb(1, 162, 166);
                    font-weight: 600;
                }
                .infra-id, 
                .infra-domaine, 
                .infra-mail {
                    display: flex;
                    i.mdi {
                        margin-top: 18px;
                        font-size: 2em;
                    }
                    h2 {
                        margin:0;
                        margin-top: 10px;
                        font-size: 1.4em;
                        font-weight: 400;
                        padding-left: 16px;
                    }
                    h3 {
                        margin:0;
                        font-size: 1.2em;
                        font-weight: 100;
                        padding-left: 16px;
                    }
                }
                 
            }
            
        }
        
        md-item-content.item-content-editable {
            margin-left: -25px;
            margin-right: -25px;
            background: rgb(255, 255, 255);
            box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
            top: 10px;
        }
      
    }

}
