.my-list-container {
    margin: 50px;
    overflow: visible;
}

md-list.my-list {
    
    padding: 8px 0px 8px 0px;
    
    md-item {

        
        md-item-content{
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            justify-content: flex-start;
            
            background-color: white;
/*            height: 96px;*/
            
            & > div {
               -webkit-flex: 2;
                -ms-flex: 2;
                flex: 2; 
            
                border-right: 1px solid rgb(220,220,220);
                border-bottom : 1px solid rgb(220,220,220);
            
                .flex-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                }
                .flex-col {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                }
                .md-tile-left {
                    padding: 16px;
                }
                i.mdi {
                    width: 48px;
                    height: 48px;
                    color: black;
                    // icon http://www.google.com/design/spec/layout/metrics-keylines.html#metrics-keylines-touch-target-size
                    // padding: 12px;
                    // font-size: 24px;

                    // img
                    padding: 4px;
                    font-size: 40px;
                }
                .md-tile-content {
                    display: block;
                    text-overflow: ellipsis; 
                }    
                &.customer_number {
                    -webkit-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    color: rgb(1, 162, 166);
                    .md-tile-content{
                        padding: 7px;
                    }
                    .md-tile-left {
                        padding: 0;
                    }
                    h3{
                        margin: 0;
                        font-weight: 600;
                    }
                }
                &.id, 
                &.domaine, 
                &.mail {

                }
                &.progress {
                    -webkit-flex: 4;
                    -ms-flex: 4;
                    flex: 4;
                    display: none;
                    width: 100%;
                    .md-tile-content{
                        height: 80px;
                        width: 1000px;
                    }
                }
            }
        }
    }
        
    .content-editable {
        .domaine, 
        .mail{ 
            display: none !important;
        }
        .progress {
            display: flex !important;
        }
    }

    .content-editable.ng-hide-add.ng-hide-add-active {
        -webkit-transition: all linear 0s;
        transition: all linear 0s;
    }
    .content-editable.ng-hide-remove.ng-hide-remove-active {
        -webkit-transition: all linear .3s;
        transition: all linear .3s;
    }

    .content-editable {
        border: 1px solid rgb(220,220,220);
        margin-left: -25px;
        margin-top: -10px;
        margin-right: -25px;
        position: relative;
        box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.2);
        z-index: 5;
        overflow: hidden;
/*        height: 288px;*/
    }
    .content-editable.ng-hide {
        margin:0;
        z-index: 0;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
/*        height: 96px;*/
    }

}

