@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,500,700,300);
@import "ng-md-admin";
@import "my-list";


/* MaterialDesignIcons.com */

$mdi-font-path:        "assets/fonts" !default;
$mdi-font-size-base:   24px !default;
$mdi-css-prefix:       mdi !default;
$mdi-version:          "0.9.72" !default;
@import "materialdesignicons/path";
@import "materialdesignicons/core";
@import "materialdesignicons/icons";