<md-toolbar class="md-default-theme">
    <div class="md-toolbar-tools" tabindex="-1" data-ng-controller="LeftCtrl">
      <md-button data-ng-click="toggleLeft()" hide-gt-md="" aria-label="Toggle">
       <i class="mdi mdi-menu"></i> 
      </md-button>

      <div layout="row" flex="" class="fill-height">
        <div class="md-toolbar-item md-breadcrumb">
          <h1 class="md-toolbar-tools">
              {{ 'dashboard'|trans }}
          </h1>
        </div>
      </div>
    </div>
</md-toolbar>

<md-content md-scroll-y="" flex="" class="md-padding">
</md-content>
