<div id="wrapper">
<!--    <nav id="header-nav" class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
            
        </div>

        
    </nav>-->
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
          <h3>
            <a href="#" ng-click="appController.displayHome()" class="navbar-brand">{{ appController.applicationName }}</a>
          </h3>
        </div>
    </md-toolbar>
    
    <span ng-controller="SidebarController as sidebarController">
            <menu></menu>
        </span>

    <div id="page-wrapper">
        <div ui-view></div>
    </div>
    <div id="loader"></div>
</div>
