
<form ng-if="filterCtrl.shouldFilter()" ng-submit="filterCtrl.filter()" layout layout-sm="column">
    <md-content class="md-padding" layout="row" layout-sm="column">
    <md-input-container ng-repeat="field in filters track by $index" ng-class="{'input-group':field.label()}" flex>
        <div ng-switch="field.type()" ng-class="field.getCssClasses(entry)">
             <label ng-if="field.label() && field.type() != 'boolean'">
                {{ field.label() }}<span ng-if="field.validation().required">&nbsp;*</span>&nbsp;
            </label>
            
            <ma-input-field ng-switch-when="string" field="::field" value="filterCtrl.values[field.name()]"></ma-input-field>

            <ma-input-field ng-switch-when="password" type="password" field="::field" value="filterCtrl.values[field.name()]"></ma-input-field>

            <ma-input-field ng-switch-when="email" type="email" field="::field" value="filterCtrl.values[field.name()]"></ma-input-field>

            <ma-input-field ng-switch-when="number" type="number" field="::field" value="filterCtrl.values[field.name()]"></ma-input-field>

            <ma-button-field ng-switch-when="boolean" field="::field" value="filterCtrl.values[field.name()]"></ma-button-field>

            <ma-text-field ng-switch-when="text" field="::field" value="filterCtrl.values[field.name()]"></ma-text-field>

            <ma-date-field ng-switch-when="date" field="::field" value="filterCtrl.values[field.name()]"></ma-date-field>

            <ma-choice-field ng-switch-when="choice" field="::field" value="filterCtrl.values[field.name()]"></ma-choice-field>

            <ma-choice-field ng-switch-when="Reference" field="::field" value="filterCtrl.values[field.name()]"></ma-choice-field>

            <ma-choices-field ng-switch-when="choices" field="::field" value="filterCtrl.values[field.name()]"></ma-choices-field>
        </div>
    </md-input-container>
    </md-content>

    <md-button class="md-raised md-button md-default-theme" type="submit"><span class="glyphicon glyphicon-search"></span> {{"Filter" | trans}}</md-button>
    <md-button ng-if="!filterCtrl.isFilterEmpty" class="md-raised md-button md-default-theme" type="button" ng-click="filterCtrl.clearFilters()"><span class="glyphicon glyphicon-remove"></span> {{"Clear" | trans}}</md-button>

</form>

