<div id="edit-view" data-ng-class="'ng-admin-entity-' + formController.entity.name()">
    <md-item-content data-ng-repeat="field in formController.fields track by $index">

        <div ng-include="'ng-admin/Crud/form/edit-attribute.html'" ></div>
        <!--<span class="flex"><span><i class="mdi mdi-web"></i></span><span><h2>Domaine :{{ entry.values.domaine }}</h2><h3>server-dns1.proxy.technology</h3></span></span>-->
        
        
<!--        <md-select placeholder="Pick" ng-model="someVal">
            <md-option value="1">One</md-option>
            <md-option value="2">Two</md-option>
        </md-select>-->
    </md-item-content>

</div>




<!-- old gneneric edit view -->
<!--<md-content layout="row" layout-sm="column" style="font-size:1.2em" id="edit-view" ng-class="'ng-admin-entity-' + formController.entity.name()">
    <form layout name="{{ formController.name }}" ng-submit="formController.submitEdition(editForm, $event)">
        <div ng-include="'ng-admin/Crud/form/edit-attribute.html'" ng-repeat="field in formController.fields track by $index"></div>

        <md-input-container flex>
            <md-button type="submit" class="md-raised">{{"save.changes" | trans}}</md-button>
            <md-button class="md-raised" ui-sref="delete({id:entry.identifierValue})">{{"delete" | trans}}</md-button>
        </md-input-container>
    </form>
</md-content>-->