<table class="grid table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>
                <md-checkbox checkbox-all="entries.isSelected" class="md-primary" aria-label="selectAll"></md-checkbox>
            </th>
            <th ng-repeat="field in fields() track by $index" ng-class="'ng-admin-column-' + field.name()">
                <a ng-click="datagrid.sort(field)">
                    <span class="glyphicon {{ datagrid.sortDir === 'DESC' ? 'glyphicon-chevron-down': 'glyphicon-chevron-up' }}" ng-if="datagrid.isSorting(field)"></span>

                    {{ field.label() }}
                </a>
            </th>
            <th ng-if="listActions()" class="ng-admin-column-actions">
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat-start="entry in entries track by $index">
            <td><md-checkbox type="checkbox" ng-model="entry.isSelected" aria-label="entry.identifierValue"></md-checkbox></td>
            <td ng-repeat="field in fields() track by $index" ng-class="field.getCssClasses(entry)"  ui-sref="edit({id:entry.identifierValue})" ng-click="entry.collapseRows = !entry.collapseRows" style="cursor:pointer">
                <ma-column field="::field" entry="::entry" entity="::entity"></ma-column>
            </td>
            <td ng-if="listActions()" class="ng-admin-column-actions"  ng-click="entry.collapseRows = !entry.collapseRows" style="cursor:pointer">
                <list-actions entry="::entry" entity="::entity" buttons="listActions()"></list-actions>
            </td>
        </tr>
        <tr ng-repeat-end ng-show="entry.collapseRows">
            <td colspan="{{fields().length + 1}}">
                <md-whiteframe layout class="md-whiteframe-z5" ui-view></md-whiteframe>
            </td>
        </tr>
    </tbody>
</table>
